.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_imagem {
    width: 512px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 12px;
}

